.u-section-1 .u-sheet-1 {
  min-height: 1545px;
}

.u-section-1 .u-shape-1 {
  width: 426px;
  height: 513px;
  margin: 161px 308px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 646px;
  height: 646px;
  background-image: url("images/studentGirl1.png");
  background-position: 50% 50%;
  margin: -602px auto 0 84px;
}

.u-section-1 .u-image-2 {
  width: 283px;
  height: 283px;
  background-image: url("images/working.jpg");
  background-position: 50% 50%;
  margin: -442px 240px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 1094px;
  min-height: 982px;
  margin: -67px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 12.5rem;
  font-weight: 700;
  background-image: none;
  margin: -1221px -511px 0 619px;
}

.u-section-1 .u-text-2 {
  font-family: "Archivo Black";
  font-size: 12.5rem;
  font-weight: 700;
  background-image: none;
  margin: -274px -634px 0 679px;
}

.u-section-1 .u-text-3 {
  font-family: "Archivo Black";
  font-size: 12.5rem;
  font-weight: 700;
  background-image: none;
  margin: 1093px 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-family: "Archivo Black";
  font-size: 12.5rem;
  font-weight: 700;
  background-image: none;
  margin: -160px 20px 0 135px;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  font-size: 2.25rem;
  margin: 20px -13px 0 13px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 38px auto 0 0;
  padding: 31px 138px 32px;
}

.u-section-1 .u-text-7 {
  font-size: 12.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: -1442px -57px 0 776px;
}

.u-section-1 .u-text-8 {
  font-family: "Archivo Black";
  font-size: 6rem;
  font-weight: 700;
  background-image: none;
  margin: -13px 63px 60px 900px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 635px;
    height: 635px;
    margin-right: 101px;
  }

  .u-section-1 .u-image-1 {
    width: 657px;
    height: 657px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 1px;
    margin-right: 0;
    color: rgb(127, 90, 179) !important;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: -697px;
    margin-left: 785px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 763px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 604px;
    height: 604px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 261px;
    height: 261px;
  }

  .u-section-1 .u-group-1 {
    width: 594px;
  }

  .u-section-1 .u-text-5 {
    font-size: 10rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: -57px;
    margin-left: 566px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-1 .u-shape-1 {
    height: 514px;
    margin-top: 89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    height: 480px;
    margin-top: -569px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -137px;
  }

  .u-section-1 .u-group-1 {
    width: 498px;
    margin-top: -53px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 8.75rem;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1314px;
    margin-left: 476px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 363px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-1 .u-shape-1 {
    height: 410px;
    margin-top: 893px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -378px;
  }

  .u-section-1 .u-image-2 {
    width: 171px;
    height: 171px;
    margin-top: -102px;
    margin-right: 57px;
    margin-left: -16px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 5.625rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -1315px;
    margin-left: 376px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 163px;
  }
}